<?xml version="1.0" encoding="ISO-8859-1"?>
<settings>
   <setting>
      <!-- Use Mutlticast -->
      <name>UseMulticast</name>
      <value>true</value>
   </setting>
   <setting>
      <!-- Application setting -->
      <name>MulticastAddress</name>
      <value>224.0.0.1</value>
   </setting>
   <setting>
      <!-- Application setting -->
      <name>MulticastDeviceAddress</name>
      <value>192.168.4.177</value>
   </setting>
   <setting>
      <!-- Application setting -->
      <name>BroadcastAddress</name>
      <value>192.168.4.177</value>
   </setting>
   <setting>
      <!-- Application setting -->
      <name>PortValue</name>
      <value>3000</value>
   </setting>
   <setting>
      <!-- Application setting -->
      <name>ExcerciseID</name>
      <value>1</value>
   </setting>
</settings>